#izquierdo{
	width:50px;
	height:1000px;
	background-color:#808080;
}

.telefono{
	margin:20px;
	padding:20px;
}

.direccion{
	margin:20px;
	padding:20px;
}

.E-MAIL{
	margin:20px;
	padding:20px;
} 

.FECHADENACIMIENTO{ 
	margin:20px;
	padding:20px;
}

.NACIONALIDAD{
	margin:20px;
	padding:20px;
}

.ESTADOCIVIL{
	margin:20px;
	padding:20px;
}

.DNI{
	margin:20px;
	padding:20px;
}

.DISPONIBILIDADHORARIA{
	margin:20px;
	padding:20px;
}

.