h1 { 
	text-decoration: underline;
	color: Crimson;
	font-size:3em;
	text-decoration-style: wavy;
	font-weight:bold;
	letter-spacing: 5px;
	text-transform:capitalize;

}

p {
background-color: crimson;
font-style: italic;
padding: 5px 0;
}

.lista1 > li , .lista2 > li, .lista3 >li {
	border: dotted Crimson 1px;
	



